
body {
	background-color: #C2E8E7;
	font-family: 'Asar', serif;
	font-family: 'Crimson Text', serif;
}

nav {
    text-decoration: none;
}

#name {
	font-size: 50px;
	text-align: center;
	letter-spacing: 5px;
	font-family: Crimson Text;
	color: #364845;
}


#container {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
}

.circle {
    width: 150px;
    height: 150px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Crimson Text;
    color: grey;
    margin-top: 15px;
    text-decoration: none;
}

.noDecoration, a:link, a:visited {
    text-decoration: none;
    color: grey;
}
